@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 200;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Book.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Book.woff) format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Book.ttf)
      format('truetype');
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.woff)
      format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.ttf)
      format('truetype');
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.woff) format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.ttf)
      format('truetype');
}

body {
  min-width: 1300px;
  min-height: 700px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #0a222e;
  background-repeat: repeat-x;
  font-family: 'salesforce-sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body.background-1 {
  background-image: url('../images/mountains.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 40%, auto 60%, 100% 60%;
  background-position: center bottom 50%, center top, center top;
}
body.background-2 {
  background-image: url('../images/mountains2.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 60%, auto 60%, 100% 60%;
  background-position: center bottom 75%, center top, center top;
}
body.background-3 {
  background-image: url('../images/hills.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 45%, auto 60%, 100% 60%;
  background-position: center bottom 55%, center top, center top;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

@keyframes shooting-star-right {
  5% {
    transform: translate(0, 0);
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  30%,
  100% {
    transform: translate(380%, 490%);
    opacity: 0;
  }
}

#shooting-star-right {
  position: absolute;
  top: -10%;
  left: 20%;
  opacity: 0;
  animation: shooting-star-right 10000ms infinite ease-out;
}

@keyframes shooting-star-left {
  75% {
    transform: translate(0, 0);
    opacity: 0;
  }
  79% {
    opacity: 1;
  }
  90%,
  100% {
    transform: translate(-380%, 490%);
    opacity: 0;
  }
}

#shooting-star-left {
  position: absolute;
  top: 10%;
  right: 10%;
  opacity: 0;
  animation: shooting-star-left 10000ms infinite ease-out;
}

#tent {
  height: 40%;
  position: absolute;
  right: 71%;
  bottom: 8%;
}

#trees {
  height: 45%;
  position: absolute;
  right: 5%;
  bottom: 25%;
}

#characters {
  width: 70%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-42%);
}

#characters-svg > svg {
  width: 175%;
  height: 95%;
  position: absolute;
  left: 0;
  bottom: 10%;
  transform: translateX(-22%);
}

#fire,
#fire-glow {
  height: 60%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

#fire-embers {
  width: 40%;
  height: 60%;
  position: absolute;
  left: 10%;
  bottom: 0;
}

#fire-embers > svg {
  width: 160%;
  height: 110%;
  position: absolute;
  left: 20.5%;
  bottom: -0.8%;
}

#submissions {
  position: absolute;
  bottom: 20%;
  height: 50%;
  left: 20%;
}

#submissions > img {
  height: 100%;
}

/* fire animations */

#fire-embers [id^='ember-'] {
  opacity: 0;
  fill: #ffd86c;
}
#fire-embers [id^='b-'] {
  fill: #ffe092;
}

@keyframes ember-sm {
  0% {
    opacity: 0;
    transform: translate(0, 15%);
  }
  2% {
    opacity: 1;
  }
  20% {
    transform: translate(-0.3%, 10%);
  }
  40% {
    transform: translate(0.3%, 5%);
    opacity: 1;
  }
  60% {
    transform: translate(-0.3%, 0%);
  }
  80% {
    opacity: 0;
    transform: translate(0.3%, -5%);
  }
  100% {
    opacity: 0;
  }
}

#fire-embers #ember-22 {
  animation: ember-sm infinite 3000ms linear;
}
#fire-embers #ember-23 {
  animation: ember-sm infinite 5000ms linear 700ms;
}
#fire-embers #ember-24 {
  animation: ember-sm infinite 5000ms linear 200ms;
}
#fire-embers #ember-25 {
  animation: ember-sm infinite 3000ms linear 900ms;
}
#fire-embers #ember-26 {
  animation: ember-sm infinite 5000ms linear 500ms;
}
#fire-embers #ember-27 {
  animation: ember-sm infinite 4000ms linear 1000ms;
}
#fire-embers #ember-28 {
  animation: ember-sm infinite 6000ms linear 500ms;
}
#fire-embers #ember-29 {
  animation: ember-sm infinite 5000ms linear 1200ms;
}
#fire-embers #ember-30 {
  animation: ember-sm infinite 3000ms linear;
}
#fire-embers #ember-31 {
  animation: ember-sm infinite 2000ms linear 200ms;
}
#fire-embers #ember-32 {
  animation: ember-sm infinite 5000ms linear 500ms;
}

@keyframes ember-md {
  0% {
    opacity: 0;
    transform: translate(0, 25%);
  }
  2% {
    opacity: 1;
  }
  20% {
    transform: translate(-0.3%, 15%);
  }
  40% {
    transform: translate(0.3%, 5%);
    opacity: 1;
  }
  60% {
    transform: translate(-0.3%, -5%);
  }
  80% {
    opacity: 0;
    transform: translate(0.3%, -10%);
  }
  100% {
    opacity: 0;
  }
}

#fire-embers #ember-10 {
  animation: ember-sm infinite 3000ms linear;
}
#fire-embers #ember-11 {
  animation: ember-sm infinite 3000ms linear 300ms;
}
#fire-embers #ember-12 {
  animation: ember-sm infinite 4000ms linear 200ms;
}
#fire-embers #ember-13 {
  animation: ember-sm infinite 3000ms linear 500ms;
}
#fire-embers #ember-14 {
  animation: ember-sm infinite 5000ms linear 400ms;
}
#fire-embers #ember-15 {
  animation: ember-sm infinite 3000ms linear 300ms;
}
#fire-embers #ember-16 {
  animation: ember-sm infinite 2000ms linear 200ms;
}
#fire-embers #ember-17 {
  animation: ember-sm infinite 3000ms linear 100ms;
}
#fire-embers #ember-18 {
  animation: ember-sm infinite 4000ms linear;
}
#fire-embers #ember-19 {
  animation: ember-sm infinite 5000ms linear 400ms;
}
#fire-embers #ember-20 {
  animation: ember-sm infinite 3000ms linear 300ms;
}
#fire-embers #ember-21 {
  animation: ember-sm infinite 6000ms linear 600ms;
}

@keyframes ember-lg {
  0% {
    opacity: 0;
    transform: translate(0, 40%);
  }
  2% {
    opacity: 1;
  }
  20% {
    transform: translate(-0.3%, 25%);
  }
  40% {
    transform: translate(0.3%, 10%);
    opacity: 1;
  }
  60% {
    transform: translate(-0.3%, -5%);
  }
  80% {
    opacity: 0;
    transform: translate(0.3%, -20%);
  }
  100% {
    opacity: 0;
  }
}

#fire-embers #ember-01 {
  animation: ember-sm infinite 3000ms linear;
}
#fire-embers #ember-02 {
  animation: ember-sm infinite 4000ms linear 300ms;
}
#fire-embers #ember-03 {
  animation: ember-sm infinite 5000ms linear 400ms;
}
#fire-embers #ember-04 {
  animation: ember-sm infinite 2000ms linear 500ms;
}
#fire-embers #ember-05 {
  animation: ember-sm infinite 3000ms linear 600ms;
}
#fire-embers #ember-06 {
  animation: ember-sm infinite 3000ms linear 200ms;
}
#fire-embers #ember-07 {
  animation: ember-sm infinite 6000ms linear 300ms;
}
#fire-embers #ember-08 {
  animation: ember-sm infinite 4000ms linear 400ms;
}
#fire-embers #ember-09 {
  animation: ember-sm infinite 3000ms linear 100ms;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#fire-embers [id^='b-group-'] {
  animation: blink infinite 700ms alternate ease-in-out;
}

#fire-embers #b-group-02 {
  animation-duration: 600ms;
}
#fire-embers #b-group-03 {
  animation-duration: 600ms;
  animation-delay: 300ms;
}
#fire-embers #b-group-04 {
  animation-delay: 300ms;
}
#fire-embers #b-group-05 {
  animation-delay: 500ms;
}
#fire-embers #b-group-06 {
  animation-duration: 800ms;
}
#fire-embers #b-group-07 {
  animation-duration: 800ms;
  animation-delay: 300ms;
}
#fire-embers #b-group-08 {
  animation-duration: 800ms;
  animation-delay: 500ms;
}
#fire-embers #b-group-09 {
  animation-duration: 900ms;
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 0.8;
  }
  95% {
    opacity: 1;
  }
}

#fire-glow {
  animation: glow 3000ms infinite ease-in-out;
}

/* title and architecture diagram */

.auto-title {
  position: absolute;
  left: 0.5em;
  top: 0.15em;
  color: white;
  font-size: 4vw;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

#architecture-diagram div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(30deg, rgba(0,20,50,.95) 0%, rgba(11,68,114,.95) 60%)
}

#architecture-diagram div img {
  display: block;
  height: 90%;
}

/* dialogue */

.talk-bubble {
  width: 20vw;
  padding: 20px 25px;
  position: absolute;
  background-color: #032041;
  border: 1px solid #c4c4c4;
  font-size: 1.3vw;
  color: white;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.talk-bubble.char-1 {
  left: 15%;
  bottom: 130%;
}
.talk-bubble.char-2 {
  left: 28%;
  bottom: 110%;
}
.talk-bubble.char-3 {
  right: 42%;
  bottom: 120%;
}
.talk-bubble.char-4 {
  right: 35%;
  bottom: 110%;
}

.talk-bubble:before,
.talk-bubble:after {
  content: '';
  position: absolute;
}

/* right side of the fire */
.talk-bubble.char-3:before,
.talk-bubble.char-4:before {
  right: 49px;
  bottom: -84px;
  border-top: 83px solid #c4c4c4;
  border-left: 52px solid transparent;
}
.talk-bubble.char-3:after,
.talk-bubble.char-4:after {
  right: 50px;
  bottom: -80px;
  border-top: 80px solid #032041;
  border-left: 50px solid transparent;
}

/* left side of the fire */
.talk-bubble.char-1:before,
.talk-bubble.char-2:before {
  left: 49px;
  bottom: -84px;
  border-top: 83px solid #c4c4c4;
  border-right: 52px solid transparent;
}
.talk-bubble.char-1:after,
.talk-bubble.char-2:after {
  left: 50px;
  bottom: -80px;
  border-top: 80px solid #032041;
  border-right: 50px solid transparent;
}

/* Logos */
#logos {
  width: 100%;
  padding-bottom: 6em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0)
  );
}

/* Hidden links */
.hidden-link {
  width: 100px;
  height: 100px;
  display: block;
  position: fixed;
  top: 0;
  opacity: 0;
}

.hidden-link.heroku {
  left: 0;
}
.hidden-link.github {
  right: 0;
}

/* character animations */

@keyframes eye {
  48% {
    transform: scale(1, 1) translateY(0);
  }
  50% {
    transform: translate(0, 0) scale(1.2, 0.1);
  }
  52% {
    transform: scale(1, 1) translateY(0);
  }
}

#characters #astro #right-eye-3 {
  animation: eye 4000ms infinite linear;
  transform-origin: 62% 55%;
}
#characters #astro #left-eye-3 {
  animation: eye 4000ms infinite linear;
  transform-origin: 65% 57%;
}

#characters #cloudy #eye {
  animation: eye 5000ms infinite linear 4000ms;
  transform-origin: 56% 27.5%;
}

#characters #max #left-eye {
  animation: eye 4000ms infinite linear 1000ms;
  transform-origin: 43% 23%;
}
#characters #max #right-eye {
  animation: eye 4000ms infinite linear 1000ms;
  transform-origin: 40% 23%;
}

#characters #appy #left-eye-2 {
  animation: eye 4000ms infinite linear 2000ms;
  transform-origin: 31% 45.5%;
}
#characters #appy #right-eye-2 {
  animation: eye 4000ms infinite linear 2000ms;
  transform-origin: 27% 44.5%;
}

#characters #codey #eye-2 {
  animation: eye 4000ms infinite linear 5000ms;
  transform-origin: 15% 7.5%;
}

@keyframes astro-head {
  35%,
  65% {
    transform: rotate(4deg) translate(1%, 5%);
  }
  85% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #astro-head {
  animation: astro-head 4000ms infinite ease-in-out;
  transform-origin: 90% 10%;
}

@keyframes astro-stick {
  35%,
  55% {
    transform: rotate(-25deg) translate(8%, -40%);
  }
  70% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #astro-stick {
  animation: astro-stick 7000ms infinite ease-in-out;
  transform-origin: right bottom;
}

@keyframes cloudy-stick {
  30%,
  60% {
    transform: rotate(5deg) translate(-1%, -10.5%);
  }
  80% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #cloudy-stick {
  animation: cloudy-stick 4000ms infinite ease-in-out;
  transform-origin: 10% 80%;
}

@keyframes max-head {
  10%,
  30% {
    transform: rotate(-3deg) translate(1%, -5%);
  }
  45% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #max-head {
  animation: max-head 10000ms infinite ease-in-out 1000ms;
  transform-origin: 90% 80%;
}

@keyframes appy-head {
  30%,
  60% {
    transform: rotate(-3deg) translate(-0.8%, 2%);
  }
  80% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #appy-head {
  animation: appy-head 5000ms infinite ease-in-out 2000ms;
  transform-origin: 10% 10%;
}

@keyframes appy-stick {
  30%,
  60% {
    transform: rotate(4deg) translate(0.3%, -2%);
  }
  80% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #appy-stick {
  animation: appy-stick 5000ms infinite ease-in-out;
  transform-origin: 10% 40%;
}

@keyframes codey-stick {
  30%,
  60% {
    transform: rotate(5deg) translate(-0.5%, 0.7%);
  }
  80% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #codey-stick {
  animation: codey-stick 8000ms infinite ease-in-out;
  transform-origin: 10% 40%;
}

@keyframes codey-arm {
  30%,
  60% {
    transform: rotate(5deg) translate(-0.5%, 0.7%);
  }
  80% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #codey-arm {
  animation: codey-arm 8000ms infinite ease-in-out;
  transform-origin: 10% 40%;
}

@keyframes blaze-head {
  15%,
  20% {
    transform: rotate(9deg) translate(1.5%, -15%);
  }
  30% {
    transform: rotate(0) translate(0, 0);
  }
}

#characters #blaze-head {
  animation: blaze-head 9000ms infinite ease-in-out;
  transform-origin: center center;
}

[data-step] {
  display: none;
}
